version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: surmakuulutus-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: node:20
    container_name: surmakuulutus-backend
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    command: sh -c "npm install && node server.js"

volumes:
  mongo-data:
